.main
  flex-grow 1
  padding-top 2em
  
.article
  padding 2em
  margin auto
  background #fff
  margin-bottom 2em
  box-shadow 0 0 10px 0px rgba(0,0,0,0.1)
    
.article__title
  margin-top 0
  font-weight initial