.hero
    height calc(100vh)
    display flex
    background #ccc 
    position relative
    align-items center
    background url('http://res.cloudinary.com/daniel-griffiths/image/upload/v1505500600/IMG_20170827_181308647_HDR_vrkxbm.jpg') #212121;
    background-size cover
    background-position center center
    background-attachment fixed
    box-shadow 0 0 10px 0px rgba(0,0,0,0.2) inset

    &__title
        margin 0
        color $brand-text-secondary    
        width 100%
        font-size 3em
        font-weight 100
        text-align center
        font-family lato, sans-serif
        text-transform uppercase
        letter-spacing 0.2em
        animation fadeIn 1s
        animation-fill-mode forwards